* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: auto;
}

#container {
    width: 100%;
    height: 100%;
    background-color: rgb(58, 58, 58);
    color: azure;
    font-family: sans-serif;
    font-size: 14px;
}

/* #nav {
    background-color: blueviolet;
    width: 100%;
    border: 1px rgb(108, 20, 190);
}

#nav ul{
    display: flex;
    justify-content: center;
}

#nav ul li{
    list-style: none;
    border: 1px white solid;
    margin-left: 10px;
}
#nav ul li a{
    text-decoration: none;
    padding: 20px 25px 25px 20px;
    color: azure;
    display: table;
    
}
#nav ul li a:hover{
    background-color: rgb(184, 117, 247);
    border: 1px black solid;
    
} */
#header {
    width: 100%;
    height: 150px;
    display: table;
    text-align: center;
    line-height: 150px;
    background-image: url(https://preview.redd.it/8hf50jq15br91.png?width=5120&format=png&auto=webp&v=enabled&s=ad2b1ff135e087605503d4f109b4769613bcc445);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

#footer {
    width: 100%;
    height: 70px;
    background-color: rgb(53, 53, 53);
    color: white;
    text-align: center;
    padding-top: 1.5%;
}

#cuerpo1,
#cuerpo2,
#cuerpo3,
#cuerpo4 {
    width: 100%;
    height: 100%;
    display: table;
}



#arriba {
    background-color: rgb(99, 99, 102);
    color: azure;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    right: 15px;
    position: fixed;
    bottom: 170px;
    border-radius: 100%;
    font-size: 30px;
}

#arriba a {
    text-decoration: none;
    color: white;
}

#arriba a:hover {
    text-decoration: none;
    color: bisque
}

.titulo {
    color: black;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 20px;
    text-shadow: 2px 2px 5px #ac0b0b;
}
.titulo-h3 {
    color: black;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
    text-shadow: 2px 2px 5px #ac0b0b;

}

.nav {

    padding: 20px 20px 20px 20px;
    box-shadow: 0 0 5px 0 black;
    margin-bottom: 30px;
}

.titulo-img{
    box-shadow: 0 0 5px 0 #414141;
    
}

#cuerpo1 p {
    padding-left: 48%;
    padding-right: 2%;
    padding-top: 50px;
    text-align: center;
    line-height: 120%;

}
#cuerpo2 p{
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 30px;
    text-align: center;
    line-height: 120%;
    

}
#cuerpo3 p {
    padding-left: 2%;
    padding-right: 34%;
    padding-top: 50px;
    line-height: 120%;
    text-align: center;
    margin-bottom: 20px;
}

#cuerpo4 p {
    padding-left: 48%;
    padding-right: 2%;
    padding-top: 50px;
    text-align: center;
    line-height: 120%;
    padding-bottom: 1%;
}

#cuerpo5 p {
    padding-left: 48%;
    padding-right: 2%;
    padding-top: 50px;
    text-align: center;
    line-height: 120%;
    margin-bottom: 20px;
}
.imagen-div{
    padding-left: 70px;
    
}
.imagen-div3{
    padding-left: 70px;
    
}
.imagen-div2{
    padding-right: 60px;
}
.imagen-div img{
    float:left;
    width: 800px;
    height: 450px;
    border-radius: 4%;
    box-shadow: 0 0 5px 0 black;
    

}
.imagen-div3 img{
    float:left;
    width: 800px;
    height: 350px;
    border-radius: 4%;
    box-shadow: 0 0 5px 0 black;
    margin-top: 70px;
    

}
.imagen-div2 img{
    float:right;
    width: 500px;
    height: 450px;
    border-radius: 4%;
    box-shadow: 0 0 5px 0 black;
    

}

.imagen-div4{
    padding-left: 70px;
    
}
.imagen-div4 img{
    float:left;
    width: 770px;
    height: 440px;
    border-radius: 4%;
    box-shadow: 0 0 5px 0 black;
    margin-top: 20px;
    

}
.imagendetitulo{
    width: 600px;
    height: 100px;
    padding-top:50px;
}


.nav a {
    display: block;
    text-decoration: none;
}

.nav ul {
    text-align: center;
    list-style: none;
}

.nav li{
    display: inline-block;

}

.nav ul a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    padding: 20px 20px 20px 20px;
    transform: transform .1s;
}

.nav ul a:hover {
    background: #414141;
    border-radius: 3%;
    box-shadow: 0 0 5px 0 #5b5b5b;
    transition: 0.3s;
    transform: scale(1.2);
}

@media(max-width:800px) {
    .imagen-div img {
        float: none;
        width: 100%;
        height: 50%;
        
    }
    .imagen-div {
        align-items: center;
        padding: 0;
        display: flex;
        margin-left: 60px;
        margin-right: 60px;
    }
    .imagen-div2 img {
        float: none;
        width: 100%;
        height: 50%;
        
    }
    .imagen-div2 {
        align-items: center;
        padding: 0;
        display: flex;
        margin-left: 60px;
        margin-right: 60px;
    }

    .imagen-div3 img {
        float: none;
        width: 100%;
        height: 50%;
        
    }
    .imagen-div3 {
        align-items: center;
        padding: 0;
        display: flex;
        margin-left: 60px;
        margin-right: 60px;
    }
    .imagen-div4 img {
        float: none;
        width: 100%;
        height: 50%;
        
    }
    .imagen-div4 {
        align-items: center;
        padding: 0;
        display: flex;
        margin-left: 60px;
        margin-right: 60px;
    }



    #cuerpo1 p {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 50px;
        text-align: center;
        line-height: 120%;
    
    }
    #cuerpo2 p {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 50px;
        text-align: center;
        line-height: 120%;
    
    }
    #cuerpo3 p {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 50px;
        text-align: center;
        line-height: 120%;
    
    }
    #cuerpo4 p {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 50px;
        text-align: center;
        line-height: 120%;
    
    }
    #cuerpo5 p {
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 50px;
        text-align: center;
        line-height: 120%;
    
    }
    #header {
        width: 100%;
        height: 150px;
        display: table;
        text-align: center;
        line-height: 150px;
        background-image: url(https://preview.redd.it/8hf50jq15br91.png?width=5120&format=png&auto=webp&v=enabled&s=ad2b1ff135e087605503d4f109b4769613bcc445);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }
    #arriba {
        background-color: rgb(78, 78, 78);
        color: azure;
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 45px;
        right: 15px;
        bottom: 170px;
        border-radius: 100%;
        font-size: 30px;
    }
    
    #arriba a {
        text-decoration: none;
        color: white;
    }
    
    #arriba a:hover {
        text-decoration: none;
        color: bisque
    }
    .imagendetitulo{
        width: 50%;
        height: 10%;
        padding-top:50px;
    }

}